In [2]:
import fasttext
import pandas as pd
import random
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pylab as plt

In [3]:
## cargo el MiniBatchKMeans
from microtc.utils import load_model
kmeans_mini = load_model('k-means-mini-all-10000.kmeans')

In [4]:
kmeans_mini

MiniBatchKMeans(n_clusters=10000, random_state=42)

In [5]:
centroids = kmeans_mini.cluster_centers_
len(centroids)

10000

In [6]:
kmeans_mini

MiniBatchKMeans(n_clusters=10000, random_state=42)

In [7]:
from sklearn.metrics.pairwise import pairwise_distances_argmin
mbk_means_cluster_centers = np.sort(kmeans_mini.cluster_centers_, axis = 0)

In [8]:
mbk_means_cluster_centers

array([[-0.17184614, -0.19262458, -0.16845293, ..., -0.21932973,
        -0.22501962, -0.18650328],
       [-0.15180227, -0.16142179, -0.14954382, ..., -0.19440553,
        -0.21346389, -0.17551732],
       [-0.13809037, -0.16051155, -0.13689883, ..., -0.19239271,
        -0.21330482, -0.1465003 ],
       ...,
       [ 0.2308235 ,  0.1906414 ,  0.23001498, ...,  0.16644268,
         0.14601088,  0.18736847],
       [ 0.23441418,  0.19878177,  0.23140107, ...,  0.16692637,
         0.14730373,  0.19448921],
       [ 0.25483039,  0.20129566,  0.24275038, ...,  0.17774531,
         0.18309681,  0.20965831]])

In [9]:
mbk_means_labels = pairwise_distances_argmin(X, mbk_means_cluster_centers)

NameError: name 'X' is not defined

In [15]:
## Cargar Emolex
emolex = pd.read_csv('../../ft_data/NRC-Emotion-Lexicon-v0.92-en-esTranslations.csv')
emolex

,English (en),Spanish (es),Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,aback,detr�s,0,0,0,0,0,0,0,0,0,0
1,abacus,�baco,0,0,0,0,0,0,0,0,0,1
2,abandon,abandonar,0,1,0,0,0,1,0,1,0,0
3,abandoned,abandonado,0,1,1,0,0,1,0,1,0,0
4,abandonment,abandono,0,1,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14177,zone,zona,0,0,0,0,0,0,0,0,0,0
14178,zoo,zoo,0,0,0,0,0,0,0,0,0,0
14179,zoological,zool�gico,0,0,0,0,0,0,0,0,0,0
14180,zoology,zoolog�a,0,0,0,0,0,0,0,0,0,0
14181,zoom,enfocar,0,0,0,0,0,0,0,0,0,0